.container {
    background: url("../../../public/nftmarketplace/main/main.png");
    background-size: cover;
    height: 350px;
    margin: 0 20px 20px;
    border-radius: 20px;
    width: 95%;
}

.main {
    padding: 40px;
    padding-right: 0;
    width: 46%;
    color: #fff;
}

.main h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 15px 0;
}

.main p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #E3DAFF;
}

.buttons {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 30px;
}

.buttons button:first-child {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 0.75rem;
    cursor: pointer;
}

.buttons button:last-child {
    border: none;
    border: none;
    background-color: inherit;
    color: #E3DAFF;
    cursor: pointer;
}