.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 15px;
}

.cardd {
    width: 180px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 20px;
}

.card p, .cardd p {
    font-size: 0.7rem;
    color: #A3AED0;
}

.card h3, .cardd h3 {
    font-size: 1.1rem;
    color: #2B3674;
}

.icon {
    width: 47px;
    height: 47px;
    background-color: #F4F7FE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon svg {
    color: #4318FF;
    font-size: 1.5rem;
}

.icontwo {
    width: 47px;
    height: 47px;
    background: linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag svg {
    margin-left: 7px;
    color: #A3AED0;
    cursor: pointer;
}