.container {
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.head p {
    font-size: 1.1rem;
    color: #2B3674;
    font-weight: 700;
}

.icon {
    width: 37px;
    height: 37px;
    line-height: 45px;
    text-align: center;
    background-color: #F4F7FE;
    border-radius: 10px;
    cursor: pointer;
}

.icon svg {
    font-size: 1.2rem;
    color: #4318FF;
}

.card1, .card2, .card3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
    border-radius: 16px;
    padding: 10px;

}

.card1, .card2 {
    margin-bottom: 15px;
}


.card1 img, .card2 img, .card3 img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.namerole p:first-child {
    font-size: 1rem;
    color: #2B3674;
    font-weight: 700;
}

.namerole p:last-child {
    font-size: 0.7rem;
    color: #A3AED0;
    font-weight: 500;
}

.card1 svg, .card2 svg, .card3 svg {
    font-size: 1.2rem;
    color: #A3AED0;
    cursor: pointer;
}