.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.text {
    display: flex;
    justify-content: space-between;
}

.text p {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1B2559;
}

.chart {
    width: 100%;
    height: 300px;
}

.icon {
    position: absolute;
    background-color: #F4F7FE;
    color: #4318FF;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    top: 20px;
    right: 20px;
}

.icon svg {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-left: 6px;
    transform: rotate(90deg);
}

